<div id="ht-app" class="container">
    <header id="header">
        <h1 id="title">Health Tracker</h1>
    </header>
    <section id="main-content">

        <div class="row">
            <div class="col-sm-12 food-search"></div>
        </div>

        <div class="row">
            <div class="col-sm-12 log"></div>
        </div>

    </section>
    <footer>
        <div class="attribution">
            <p>Search results powered by <a href="https://www.nutritionix.com/">Nutritionix</a></p>
        </div>
    </footer>
</div>