<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Food Search</h4>
        <input id="food-search-input" type="text" placeholder="Enter search term">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody id="food-search-result"></tbody>
    </table> 
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Nutritional Information</h4>
    </div>
<div class="panel-body" id="food-item-display"></div>
