<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Food Search</h4>
                <input id="food-search-input" type="text" placeholder="Enter search term">
            </div>
            <ul class="pre-scrollable list-group" id="food-search-result"></ul> 
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Nutritional Information</h4>
            </div>
            <div class="panel-body" id="food-item-display"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Food Log</h4>
            </div>
            <div class="panel-body" id="log"></div>
        </div>                
    </div>
</div>  