body {
    margin-top: 50px;
}
#title {
    text-align: center;
}
#search-list {
    max-height: 70vh;
}

#search-list li {
    list-style: none;
}

#food-search-input {
    color: black;
}

.panel-heading {
    text-align: center;
}

button #add-food-item {
    margin-top: 10px;
}

.food-detail {
    display: none;
}



