#title {
    text-align: center;
}
#search-list {
    max-height: 70vh;
}

#search-list li {
    list-style: none;
}

#food-search-input {
    color: black;
}

.panel-heading {
    text-align: center;
}

button#add-food-item {
    margin-top: 15px;
}

.food-detail {
    display: none;
    background-color: #c7e4f6;
}

.food-detail:not(.btn):hover {
    background-color: #c7e4f6;
}

.food-item {
    cursor: pointer;
}

.progress-indicator {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#log .progress-indicator {
    display: none;
}

#food-search .progress-indicator {
    display: none;
}




